$random-color: rgb(random(255), random(255), random(255));

$random-number100: random(100);

$random100: random(100);

$couleur1: #211A44;
$couleur2: #5C5792;
$couleur3: #9F8DC3;
$couleur4: #BE9CC7;
$couleur5: #E3BAD5;